<div>
  <div class="flex-center" style="margin-bottom: 10px;">
    <!--<input type="checkbox" [checked]="allDone" (change)="allDone=$event.target.checked">-->  <!-- 属性方法 -->
    <div class="round" [ngClass]="{active:allDone}" (click)="allDone=!allDone"></div>    <!-- get 函数 set 函数 当成一个属性来用-->
    <!-- 输入框 -->
    <input type="text" class="search" placeholder="input here" (keyup.enter)="addList($event)" [(ngModel)]="inputVal">
    <!-- 回车键事件-->
  </div>
  <!-- 列表 -->
  <!-- 默认是用 list  -->
  <!--<div class=" list" *ngFor="let val of list;let i=index" [ngClass]="{edit:currentEdit===val}"> -->
  <div class=" list" *ngFor="let val of filterList;let i=index" [ngClass]="{edit:currentEdit===val}"> <!-- ng for -->
    <div class="flex-center is-hide">
      <div (click)="val.done=!val.done" class="round" [ngClass]="{active:val.done}"></div>    <!-- 样式  ngclass -->
      <p class="content flex1" [ngClass]="{active:val.done}" (click)="currentEdit=val">
        {{val.title}}</p>
      <div class="remove" (click)="remove(i,$event)">&times;</div>
    </div>

    <!-- 隐藏的输入框  每列都有-->
    <!--(blur)="currentEdit=null"-->
    <input type="text" class="to-edit" [value]="val.title"
           (blur)="edit(val,$event)"
           (keyup.enter)="edit(val,$event)"
           (keyup)="cancel($event)"
    >
    <!-- edit() 这里传val,就有效，传val.title就无效 -->
  </div>
  <div class="flex-center" style="flex-wrap: wrap;">

    <p class="item">{{remainData}} item left</p>
    <p class="item" (click)="currentStyle='all'">all</p>
    <p class="item" (click)="currentStyle='active'">active</p>
    <p class="item" (click)="currentStyle='complete'">complete</p>
    <p class="item" (click)="clearAll()">clear finish</p>
  </div>

  <ng-template [ngIf]="list.length">       <!-- ng if -->
    <p>ng-template 少了一层div</p>
    <p>dblclick无效果。。</p>
  </ng-template>

</div>
